# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Production
/dist
/build

# Miscellaneous
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.idea/
.vscode/
*.iml
*.swp
*.swo

# macOS
.DS_Store

# Windows
Thumbs.db

# Vite specific
.vite/

# pnpm
/pnpm-lock.yaml
/pnpm-workspace.yaml
.pnpm-store/


ordens-marcenaria-backend/src/database/ordens_marcenaria.db
